*.aux
*.bbl
*.blg
*.docx
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.DS_Store


*.fls
*.pdf
.Rapp.history

Data/100_Matrices/*

Data/*
Cluster/*

# Vignettes
*.html

# Jobs
Cluster/Bayesian/*.mbcmd
Cluster/Bayesian/*.mbjob
Cluster/JobTracker.xlsx
